table, td, th {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}

tr:nth-child(1) > td {
    text-align: left;
}

header {
    text-align: center;
}