@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ff6a95;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

button {
  background: #ff6a95;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  transform: scale(0.97);
  opacity: 0.9;
}

li {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
